body {
    /* background-image: url('https://static.vecteezy.com/ti/vettori-gratis/p3/4086263-chiave-digitale-icona-chiave-elettronica-realizzata-con-codice-binario-sfondo-di-sicurezza-informatica-e-accesso-digitale-binario-dati-e-streaming-matrice-di-codice-digitale-sfondo-con-cifre-1-0-illustrazione-vettoriale.jpg'); */
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(159, 159, 159);
    max-width: 600px;
    
}
.wrapper {
    background-image: url('https://images.alphacoders.com/830/830349.png');
}